In [1]:
import pandas as pd

In [2]:
import sys
sys.path.append("../")

In [3]:
# Standard Imports
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pickle

# Transformers
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler

# Modeling Evaluation
from sklearn.model_selection import train_test_split, cross_val_score, KFold, GridSearchCV
from sklearn.metrics import accuracy_score, precision_score, recall_score,f1_score, confusion_matrix, classification_report
from IPython.display import display, Markdown

# Pipelines
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer

# Machine Learning
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [5]:
%load_ext autoreload
%autoreload 2

from src.pipeline import *

with open('../models/final_model_no_pipeline.pkl', 'rb') as file:
    final_model = pickle.load(file)

final_data_binner = Pipeline(steps=[
    ('bin_capital_gain', BinCapital(col_name = 'capital_gain')),
    ('bin_capital_loss', BinCapital(col_name = 'capital_loss')),
    ('bin_age', BinAge()),
    ('hot_encode', HotEncodeMerge())])


final_data_prep = Pipeline(steps=[
    ('validate_data', ValidateAndRenameColumns()),
    ("data_binning", final_data_binner)])

final_pipeline = Pipeline(steps=[('prep',final_data_prep), ('model', final_model)])

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
val = pd.read_csv('../data/validation.csv')

In [7]:
check = ValidateAndRenameColumns()
check.transform(val).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3256 entries, 0 to 3255
Data columns (total 11 columns):
age               3256 non-null int64
workclass         3256 non-null object
education         3256 non-null object
education_num     3256 non-null object
marital_status    3256 non-null object
occupation        3256 non-null object
relationship      3256 non-null object
capital_gain      3256 non-null int64
capital_loss      3256 non-null int64
hours_per_week    3256 non-null int64
native_country    3256 non-null object
dtypes: int64(4), object(7)
memory usage: 279.9+ KB

In [26]:
class ValidateAndRenameColumns(BaseEstimator):
    def __init__(self):
        self.needed_columns = ['age', 'workclass', 'education', 'education_num',
           'marital_status', 'occupation', 'relationship',
           'capital_gain', 'capital_loss', 'hours_per_week', 'native_country']
        self.needed_types = {'age': 'int',
                             'workclass': 'str',
                             'education': 'str',
                             'education_num': 'str',
                             'marital_status': 'str',
                             'occupation': 'str',
                             'relationship': 'str',
                             'capital_gain': 'int',
                             'capital_loss': 'int',
                             'hours_per_week': 'int',
                             'native_country': 'str'}
            
    def fit(self, X, y=None):
         self._validate(X)
         return self
    
    def transform(self, X):
        self._validate(X)
        if self.type == dict:
            data = pd.DataFrame([X], index = range(len([X])))
        data = X.copy()
        return data[self.needed_columns]
    
    def _validate(self, X):
        self.proper_columns = False
        self._check_object_type(X)
        self._reformat(X)
        self._check_columns(X)
        self._check_column_types(X)
        if not self.proper_type:
            raise TypeError('Data must be formatted as a Dictionary or a pandas DataFrame')
        if not self.proper_columns:
            raise ValueError("The following features are missing. {}".format(self.missing_keys))   
                
    def _reformat(self, X):
        change_text = lambda x: x.lower().strip().replace(' ', '_').replace('-', '_')
        if self.type == dict:
            for key in X:
                new_key = change_text(key)
                X[new_key] = X.pop(key)
        else:
            X.columns = [change_text(column) for column in X.columns]

    
    def _check_columns(self, X):   
        if self.type == dict:
            if all(key in list(X.keys()) for key in self.needed_columns):
                self.proper_columns = True
                return
            else:
                self.missing_keys = [key for key in self.needed_columns if key not in list(X.keys())]   
        else:
            if all(column in X.columns for column in self.needed_columns):
                self.proper_columns = True
                return
            
            else:
                self.missing_keys = [column for column in self.needed_columns if column not in X.columns]
        return
    
    def _check_column_types(self, X):
        for column in self.needed_columns:
            needed_type = self.needed_types[column]
            if self.type == dict:
                if needed_type == 'str':
                    X[column] = str(X[column])
                else:
                    X[column] == int(X[column])
            else:
                X[column] = X[column].astype(needed_type)
                
    def _check_object_type(self, X):
        if type(X) == dict:
            self.type = dict
            self.proper_type = True
                
        elif type(X) == pd.core.frame.DataFrame:
            self.type = pd.core.frame.DataFrame
            self.proper_type = True
        else:
            self.proper_type = False

In [27]:
check = ValidateAndRenameColumns()

In [28]:
check.transform(val).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3256 entries, 0 to 3255
Data columns (total 11 columns):
age               3256 non-null int64
workclass         3256 non-null object
education         3256 non-null object
education_num     3256 non-null object
marital_status    3256 non-null object
occupation        3256 non-null object
relationship      3256 non-null object
capital_gain      3256 non-null int64
capital_loss      3256 non-null int64
hours_per_week    3256 non-null int64
native_country    3256 non-null object
dtypes: int64(4), object(7)
memory usage: 279.9+ KB

In [13]:
val

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,19094,21,Private,131473,Some-college,10,Never-married,Sales,Own-child,Asian-Pac-Islander,Male,0,0,20,Vietnam,<=50K
1,23338,21,Private,283969,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,Mexico,<=50K
2,18638,36,Private,469056,HS-grad,9,Divorced,Sales,Unmarried,Black,Female,0,0,25,United-States,<=50K
3,31363,27,Self-emp-not-inc,365110,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,20,United-States,<=50K
4,20305,44,Federal-gov,113597,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,55,United-States,>50K
5,27093,18,Private,334676,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,25,United-States,<=50K
6,25068,55,Federal-gov,146477,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K
7,5550,29,Private,132874,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
8,27842,24,Private,227594,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,20,United-States,<=50K
9,6293,37,Private,333651,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,42,United-States,<=50K
10,1411,43,Self-emp-inc,196945,HS-grad,9,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,0,0,78,Thailand,<=50K
11,16478,31,Self-emp-not-inc,156890,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
12,25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
13,18760,46,Private,353219,9th,5,Divorced,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
14,20677,24,Private,96844,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,17,United-States,<=50K
15,23099,20,?,327462,10th,6,Divorced,?,Not-in-family,White,Female,0,0,40,United-States,<=50K
16,489,38,Private,91039,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,15024,0,60,United-States,>50K
17,3863,62,?,94931,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,3411,0,40,United-States,<=50K
18,22719,26,Private,36201,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,50,United-States,<=50K
19,5034,50,Self-emp-not-inc,175456,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
20,201,19,?,170653,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,Italy,<=50K
21,7947,17,Private,186067,10th,6,Never-married,Tech-support,Own-child,White,Male,0,0,10,United-States,<=50K
22,30221,28,Private,184078,12th,8,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
23,20168,60,Self-emp-not-inc,135285,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
24,16468,27,Self-emp-not-inc,114225,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,60,United-States,>50K
25,29484,28,State-gov,78356,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,40,Jamaica,<=50K
26,13953,49,Private,94215,12th,8,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
27,28296,61,Private,229744,5th-6th,3,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,El-Salvador,<=50K
28,28064,47,Local-gov,102628,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,>50K
29,29811,58,Private,183810,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226,2935,50,Local-gov,177705,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,1740,48,United-States,<=50K
3227,5692,31,Private,79190,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,35,United-States,<=50K
3228,17735,26,Private,358975,Some-college,10,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,50,Hungary,<=50K
3229,24623,23,Private,186014,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,15,United-States,<=50K
3230,13133,63,Private,38352,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
3231,11351,49,Self-emp-inc,201498,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
3232,6031,61,Self-emp-inc,227232,Bachelors,13,Separated,Sales,Not-in-family,White,Female,0,0,30,United-States,<=50K
3233,28131,19,Private,105908,HS-grad,9,Never-married,Handlers-cleaners,Other-relative,White,Male,0,0,70,United-States,<=50K
3234,8218,65,Private,149811,HS-grad,9,Divorced,Adm-clerical,Unmarried,White,Female,0,2206,59,Canada,<=50K
3235,18972,24,Private,240137,1st-4th,2,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
3236,24794,19,Private,128346,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40,United-States,<=50K
3237,24544,26,Private,184120,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
3238,21030,41,Private,238355,5th-6th,3,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,Mexico,<=50K
3239,14577,43,Local-gov,144778,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,?,<=50K
3240,27848,45,Federal-gov,380127,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
3241,5800,19,Private,415354,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
3242,758,46,Federal-gov,167381,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,>50K
3243,4232,54,Private,174865,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
3244,9138,27,?,61387,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,0,0,15,United-States,<=50K
3245,25513,29,Private,189565,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,2174,0,50,United-States,<=50K
3246,19421,26,Private,167848,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,Black,Male,0,0,40,United-States,<=50K
3247,715,31,Private,295697,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,40,United-States,<=50K
3248,7438,36,Private,83089,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,7298,0,40,Mexico,>50K
3249,10506,47,Private,34845,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,60,United-States,<=50K
3250,3430,50,Self-emp-not-inc,363405,Bachelors,13,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,50,United-States,>50K
3251,1982,31,Private,348491,Bachelors,13,Never-married,Exec-managerial,Not-in-family,Black,Female,0,0,40,United-States,<=50K
3252,3734,18,Private,148644,HS-grad,9,Never-married,Sales,Own-child,White,Female,0,0,28,United-States,<=50K
3253,894,42,Self-emp-not-inc,177307,Prof-school,15,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,65,United-States,>50K
3254,13174,29,Private,179498,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Germany,<=50K
3255,14959,19,Private,82210,HS-grad,9,Never-married,Sales,Not-in-family,White,Male,0,0,50,United-States,<=50K